.fld-btn_primary {
  background-color: #409eff;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
.fld-btn_success {
  background: #67c23a;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
.fld-btn_danger {
  background: #f65c6c;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
.fld-btn_warning {
  background: #e6a23c;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
.fld-btn_info {
  background: #909399;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
