.fld-btn {
  border-radius: 2px;
  border: 1px solid transparent;
  outline: none;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

@import "fld-btn_type.less";
@import "fld-btn_size.less";
@import "fld-btn_disabled.less";
@import "fld-btn_circle.less";
@import "fld-btn_icon.less";