.content {
  width: 120px;
  height: 120px;
  background-color: lightblue;
}

.slide-content {
  width: 120px;
  max-height: 200px;
  background: lightblue;
}

.show {
  transform-origin: 50% 50%;
  animation:show-item 200ms ease-in forwards;
}
.hidden {
  transform-origin: 50% 50%;
  animation:hide-item 200ms ease-in forwards;
}

.slide-up {
  transform-origin: 50% 0;
  animation:slideUp 200ms ease-in forwards;
}

.slide-down {
  transform-origin: 50% 0;
  animation:slideDown 200ms ease-in forwards;
}

@keyframes slideUp {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes slideDown {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes show-item{
  0% {
    transform: rotate(0);
  }
  100%{
    transform: rotate(-180deg);
  }
}

@keyframes hide-item{
  0% {
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(0);
  }
}